<div class="mod_kirbylistprojects" data-init="kirbylistprojects">
	{% if projects.count %}
		<ul class="teaser cf">



		{% for project in projects %}
				<li>
					<h3>
						<a href="{{ project.url }}">{{ project.title }}</a>
					</h3>
					<p>
						{{ project.text.excerpt(80) }}
						<a href="{{  project.url }}">read&nbsp;more&nbsp;→</a>
					</p>
					{% if project.images() %}
						<a href="{{ project.url }}">
						  <img src="{{ project.image.url() }}" alt="{{ project.title }}" >
						</a>
					{% endif %}
{# 					<?php if($image = $project->images()->sortBy('sort', 'asc')->first()): ?> #}

			  </li>
		{% endfor %}
		</ul>
	{% endif %}

</div>
