<div class="mod_kirbymenu" data-init="kirbymenu">
	<nav role="navigation">


		{% if globals.menu_pages.count %}
		    <ul class="menu cf">
		    {% for page in globals.menu_pages %}
		        	<li>
		        		<a {{ page.isOpen ? 'class="active"' : ''}} href="{{ page.url }}">{{ page.title }}</a>
		        		{% if page.hasVisibleChildren %}
		        			<ul class="submenu">
			        			{% for subpage in page.children %}
				        			<li>
				        			  <a href="{{ subpage.url }}">{{ subpage.title }}</a>
				        			</li>
				        		{% endfor %}
				        	</ul>
		        	    {% endif %}
		        	</li>
		    {% endfor %}
		    </ul>
		{% endif %}

	</nav>

</div>
