{% spaceless %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title><?php echo $site->title()->html() ?> | <?php echo $page->title()->html() ?></title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>



{# 	<meta property="og:title" content="{{ globals.page_title|striptags }} | PIU" />
	<meta property="og:description" content="{{ globals.desc|striptags }}" />
	{% if globals.meta_img %}<meta property="og:image" content="{{ globals.meta_img }}" />{% endif %}
	<meta property="og:url" content="{{ globals.permalink }}"> #}


	<script src="/assets/js/head.js"></script>

</head>
</head>
<body>
	{% include "modules/kirbyheader/kirbyheader.twig" %}

	<div class="layout_wrapper" id="main">
		{% block content %}
		{% endblock %}
	</div>

	{% include "modules/kirbyfooter/kirbyfooter.twig" %}

</body>
</html
{% endspaceless %}
