{% spaceless %}
<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }} – {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{# <meta name="description" content="{{ globals.desc|striptags }}">
	<meta property="og:title" content="{{ globals.page_title|striptags }} | PIU" />
	<meta property="og:description" content="{{ globals.desc|striptags }}" />
	{% if globals.meta_img %}<meta property="og:image" content="{{ globals.meta_img }}" />{% endif %}
	<meta property="og:url" content="{{ globals.permalink }}">

	<link rel="stylesheet" href="{{ globals.theme_root }}/assets/css/main{% if not globals.env.dev %}.min{% endif %}.css">

    <link rel="shortcut icon" href="{{ globals.theme_root }}/assets/media/fav/zueriwerk-favicon.ico?v=123">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ globals.theme_root }}/assets/media/fav/zueriwerk-apple-icon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ globals.theme_root }}/assets/media/fav/zueriwerk-apple-icon-180x180.png">

	<script src="{{ globals.theme_root }}/assets/js/head{% if not globals.env.dev %}.min{% endif %}.js"></script>

	{% if not globals.gulp %}
		{{ function('wp_head') }}
	{% endif %} #}
</head>
</head>
<body>
	{% block header %}
	{% endblock %}

	<div class="layout_wrapper" id="main">
		{% block content %}
		{% endblock %}
	</div>

	{# {% if not globals.gulp %}
		{{ function('wp_footer') }}
	{% endif %} #}

	{# <script src="{{ globals.theme_root }}/assets/js/main{% if not globals.env.dev %}.min{% endif %}.js"></script> #}

</body>
</html
{% endspaceless %}
